HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDE - STS / Eclipse
.classpath
.project
.settings
.factorypath
.springBeans
.apt_generated
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

